</main>
<footer>
    <span>
        <form method='GET' action='/'>
            <button type='submit'>প্রথম পাতা</button>
        </form>
        <a
            style='text-decoration: none; border: none'
            href='/?new=true&page=1'>
            <button type='button'>নতুন লেখাগুলি</button>
        </a>
        <form method='GET' action='/news'>
            <button type='submit'>আজকের সংবাদ</button>
        </form>
        <br>
        <br>
        <form method='GET' action='/contact'>
            <button type='submit'>যোগাযোগ</button>
        </form>
        <form method='GET' action='/about'>
            <button type='submit'>এটা কি</button>
        </form>
    </span>
    <span>
        <form method='GET' action='/terms'>
            <button type='submit'>ব্যবহারের শর্তাবলী</button>
        </form>
        <form method='GET' action='/privacy'>
            <button type='submit'>গোপনীয়তা নীতি</button>
        </form>
    </span>
</footer>
<br>
<br>
</body>
</html>