<?- include('./common/layout_pre.ejs', { title : `কি`, name : locals.name }) ?>
<span class='content'>
    <h1>কি</h1>
    <ul>
        <li>
            এটি আলোচনা, ইন্টারনেটের কোনো কিছু দেখানো বা মতামত প্রকাশের জন্য তৈরী একটি ওয়েবসাইট
            <ul>
                ফেসবুকে তো এসব করা যায়, আরেকটা কি দরকার  ?
                <li>
                    ফেইসবুক আপনার সত্য নাম বেবহার করতে বলে এবং চেনা মানুষের  সাথে যুক্ত করে। কোনো কিছু ভুল বললে ব্যাপার ভয়ানক হতে পারে। এখানে তেমন কোনো নিয়ম নেই।
                </li>
                <li>
                    ফেইসবুক আপনার উপর অনেক তথ্য সংগ্রহ করে যেটা এখানে করা হয়না।
                </li>
            </ul>
        </li>
        <li>
            এটি নতুন তৈরী, যদি কোথাও সমস্যা দেখা দেয়, অনুগ্রহ করে যোগাযোগ করে জানিয়ে দেবেন
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>