<?- include('./common/layout_pre.ejs', { title : `কি`, name : locals.name }) ?>
<span class='content'>
    <h1>কি</h1>
    <ul>
        <li>
            এটি আলোচনা, ইন্টারনেটের কোনো কিছু দেখানো বা মতামত প্রকাশের জন্য তৈরী একটি ওয়েবসাইট
        </li>
        <li>
            এটি নতুন তৈরী, যদি কোথাও সমস্যা দেখা দেয়, অনুগ্রহ করে যোগাযোগ করে জানিয়ে দেবেন
        </li>
        <li>
            এটি ব্যবহারের জন্য ধন্যবাদ
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>