<?- include('./common/layout_pre.ejs', { title : 'Confirm', name : locals.name }) ?>
<span class='content' style='text-align: center'>
<h6>আপনার যোগাযোগ বা সমস্যা বিষয়ক লেখা পাঠানো হয়েছে। ওয়েবসাইট পরিচালকরা দেখবেন।</h6>
</span>
<?- include('./common/layout_post.ejs') ?>