<?- include('./common/layout_pre.ejs', { title : 'মতামত', name : locals.name }) ?>
<span class='content'>
<? if(locals.post_id && locals.post_content) { ?>
<form method='POST' action='/comment'>
    <input name='post_id' type='hidden' value='<?= post_id ?>'>
    <input name='post_content' type='hidden' value='<?= post_content ?>'>
    <div>
        <label for='comment_w'>আপনার মতামত লিখুন:</label>
    </div>
    <div>
        <textarea
            name='comment_w'
            type='text'
            placeholder='...'
            minlength='1'
            autocomplete='off'
            required><? if(locals.comment_w){ ?><?= comment_w ?><? } ?></textarea>
    </div>
    <? if(locals.info) { ?>
        <div class='meta_info warn_text'>
            <?= info ?>
        </div>
    <? } ?>
    <button class='submit' type='submit'>পাঠান</button>
</form>
<div><a href='/post/<?= post_id ?>'>মতামত লিংক</a></div>
<p><?- post_content ?></p>
<? } else { ?>
    জবাব/মতামত পাঠাতে আপনার নিবন্ধন থাকা লাগবে এবং নিবন্ধনধারী হিসেবে প্রবেশ করতে হবে
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>