<?- include('./common/layout_pre.ejs', { title : 'মুছে ফেলা', name : locals.name }) ?>
<span class='content'>
<? if
(
    locals.name !== false &&
    locals.id &&
    locals.content &&
    locals.by &&
    locals.createdAt &&
    locals.updatedAt
) { ?>
<form method='POST' action='/post/<?= id ?>/delete'>
    <? if(locals.info) { ?>
    <div><?= info ?></div>
    <? } ?>
    <div>
        <button
            class='submit warn'
            type='submit'>মুছে ফেলতে চান সেটা নিশ্চিত করুন</button>
    </div>
</form>
<p><?- content ?></p>
<div class='meta_info'>
    <p>লিখেছে <a href='/user/<?= by ?>'><?= by ?></a></p>
    <p>প্রকাশ হয় <?= createdAt ?></p>
    <p>শেষ পরিবর্তন হয় <?= updatedAt ?></p>
</div>
<form method='GET' action='/post/<?= id ?>/update'>
    <input type='hidden' name='username' value='<?= by ?>'>
    <button class='submit' type='submit'>পরিবর্তন</button>
</form>
<form method='GET' action='/post/<?= id ?>'>
    <button class='submit' type='submit'>লেখাতে ফিরে যান</button>
</form>
<? } else { ?>
    লেখা মুছে ফেলতে নিবন্ধনধারী হিসেবে প্রবেশ করতে হবে এবং লেখার লেখক হতে হবে
<? } ?>
</span>

<?- include('./common/layout_post.ejs') ?>