<?- include('./common/layout_pre.ejs', { title : 'মুছে ফেলা', name : locals.name }) ?>
<span class='content'>
    <h6><a href='/post/<?= id ?>'>লেখাটি</a> মুছে ফেলা হয়েছে</h6>
</span>
<?- include('./common/layout_post.ejs') ?>