<?- include('./common/layout_pre.ejs', { title : 'ERROR', name : locals.name }) ?>
<span class='content'>
<h1>দুঃখিত, কোনো সমস্যা হয়েছে</h1>

<? if(locals.info) { ?>
    সার্ভার সমস্যা সম্পর্কে এটি পাঠিয়েছে :  <?= locals.info ?>
<? } else { ?>
    অনুগ্রহ করে যোগাযোগ করে কোন ক্ষেত্রে এটা হচ্ছে জানান যাতে দ্রুত ঠিক করতে পারি।
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>