<?- include('./common/layout_pre.ejs', { title : 'ERROR', name : locals.name }) ?>
<span class='content'>
<h1>কোনো সমস্যা হয়েছে</h1>

দুঃখিত, যদি এটা না  হওয়ার কথা, অনুগ্রহ করে যোগাযোগ করে আমাদেরকে জানান কোন ক্ষেত্রে এটা হচ্ছে যাতে আমরা এটা দ্রুত ঠিক করতে পারি।

<? if(locals.info) { ?>
    সার্ভার সমস্যা  সম্পর্কে এটি পাঠিয়েছে :  <?= locals.info ?>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>