<?- include('./common/layout_pre.ejs', { title : `গোপনীয়তা নীতি`, name : locals.name }) ?>
<span class='content'>
    <h1>গোপনীয়তা নীতি</h1>
    <ul>
        <li>
            এখানে কোনো কিছু লুকানো বা বেক্তিগত মনে করবেন না
        </li>
        <li>
            আমরা কোনো ট্র্যাকিং ইনফর্মেশন ব্যবহার, জোগাড় করিনা বা বিক্রি করি না
        </li>
        <li>
            Session cookie ব্যবহার করা হয়
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>