<?- include('./common/layout_pre.ejs', { title : 'লেখা', name : locals.name }) ?>

<? if
(
    locals.post &&
    locals.post.id &&
    locals.post.content &&
    locals.post.by &&
    locals.post.createdAt &&
    locals.post.updatedAt
) { ?>
<span class='content read'>
<p><?- post.content ?></p>
</span>
<span class='meta_info'>
    লিখেছে <a href='/user/<?= post.by ?>'><?= post.by ?></a>
    <span title='শেষ বদল হয় <?= post.updatedAt ?>'><?= post.createdAt ?></span>
</span>
<? if
(
    locals.name !== false &&
    locals.post.by === locals.name
) { ?>
<form class='inline' method='GET' action='/post/<?= post.id ?>/update'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button class='post_button' type='submit'>পরিবর্তন</button>
</form>
<form class='inline' method='GET' action='/post/<?= post.id ?>/delete'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button class='post_button' type='submit'>মুছে ফেলা</button>
</form>
<? } ?>
<? if(locals.name !== false) { ?>
<form
    class='inline'
    method='GET'
    action='/contact/<?= locals.post.self_link ? post.self_link : "" ?>'>
    <button class='post_button' type='submit'>সমস্যা</button>
</form>
<? } ?>
<? if(locals.name !== false) { ?>
<br>
<br>
<form style='margin: 1%;' method='POST' action='/comment'>
    <input name='post_id' type='hidden' value='<?= post.id ?>'>
    <input name='post_content' type='hidden' value='<?= post.content ?>'>
    <div>
        <label for='comment_w'>আপনার মতামত এখানে লিখুন:</label>
    </div>
    <div>
        <textarea
            name='comment_w'
            type='text'
            placeholder='...'
            minlength='1'
            autocomplete='off'
            required><? if(locals.comment_w){ ?><?= comment_w ?><? } ?></textarea>
    </div>
    <? if(locals.info) { ?>
        <div>
            <?= info ?>
        </div>
    <? } ?>
    <button class='submit' type='submit'>পাঠান</button>
</form>
<? } else { ?>
    <span class='meta_info'>
        [ মতামত লিখতে আপনার নিবন্ধন থাকা লাগবে এবং নিবন্ধনধারী হিসেবে প্রবেশ করতে হবে ]
    </span>
<? } ?>

<? if(locals.comments) { ?>
    <?- comments ?>
<? } ?>
<? } else { ?>
<span class='content'>
    <h6>লেখা খুঁজে পাওয়া যায়নি</h6>
</span>
<? } ?>

<?- include('./common/layout_post.ejs') ?>