<?- include('./common/layout_pre.ejs', { title : 'নিবন্ধন', name : locals.name }) ?>
<? if(locals.name === false) { ?>
<form class='main_form' method='POST' action='/sign_up'>
    <div>
        <input
            name='user_name'
            placeholder='নাম বা কিছু অক্ষর লিখুন'
            title='সত্য নাম ব্যবহার থেকে বিরত থাকুন।'
            type='text'
            minlength='1'
            maxlength='30'
            autocomplete='off'
            <? if(locals.user_name){ ?>
            value='<?= user_name ?>'
            <? } ?>
            required>
    </div>
    <div>
        <input
            name='password'
            title='যত বেশি অক্ষর, কারো পক্ষে আপনার নিবন্ধন চুরি করে নেওয়া ততো কঠিন।'
            placeholder='কিছু গুপ্ত অক্ষর লিখুন'
            type='password'
            minlength='1'
            autocomplete='off'
            <? if(locals.password) { ?>
            value='<?= password ?>'
            <? } ?>
            required>
    </div>
    <div>
        <label
            title='স্বয়ংক্রিয় কিছু কম্পিউটার সবসময় ওয়েবসাইট ভাঙার চেষ্টা করে এবং সেগুলো আঁকানো লেখা পড়তে পারে না। সে কারণে, আপনি যে মানুষ, সেটা প্রমানের জন্য আপনাকে এটা করতে হচ্ছে।'
            for='captcha'>এই চারটি অক্ষর লিখুন:</label>
        <span title='নিচে এই চারটি অক্ষর লিখুন'><?- svg ?></span>
        <input
            name='captcha'
            placeholder='আঁকানো অক্ষরগুলি লিখুন'
            title='স্বয়ংক্রিয় কিছু কম্পিউটার সবসময় ওয়েবসাইট ভাঙার চেষ্টা করে এবং সেগুলো আঁকানো লেখা পড়তে পারে না। সে কারণে, আপনি যে মানুষ, সেটা প্রমানের জন্য আপনাকে এটা করতে হচ্ছে।'
            type='text'
            minlength='4'
            maxlength='4'
            autocomplete='off'
            required>
    </div>
    <? if(locals.info) { ?>
    <div class='meta_info warn_text'>
        <?= info ?>
    </div>
    <? } ?>
    <div>
        <button
            type='submit'>জমা দিন »</button>
    </div>
</form>
<br>
<p class='meta_info' align='center'>
    নিবন্ধন করলে আপনি আমাদের ওয়েবসাইটে লিখতে পারবেন।
</p>
<p class='meta_info' align='center'>
    আপনার পছন্দের নাম এবং গুপ্ত অক্ষরগুলি মনে রাখবেন কারণ ভবিষ্যতে
    এগুলো নিবন্ধনধারী হিসেবে প্রবেশের জন্য দরকার হবে।
</p>
<? } else { ?>
<p align='center' >
    আপনি আগেই নিবন্ধনযুক্তভাবে ভেতরে ঢুকেছেন। এই পাতায় আপনার এখন আর কিছু করার প্রয়োজন নেই।
</p>
<? } ?>
<?- include('./common/layout_post.ejs') ?>