<?- include('./common/layout_pre.ejs', { title : 'বাইরে', name : locals.name }) ?>
<span class='content' >
<? if(locals.name !== false) { ?>
<form method='POST' action='/sign_out'>
    <h6>নিবন্ধন থেকে সাময়িক ভাবে বাইরে যান:
            <button class='submit warn' type='submit'>নিশ্চিত করুন</button>
    </h6>
</form>
<? } else { ?>
    <h6>আপনি নিবন্ধনযুক্ত নন, এখানে কিছু করার নেই</h6>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>