<?- include('./common/layout_pre.ejs', { title : 'নিবন্ধনধারী প্রবেশ', name : locals.name }) ?>
<? if(locals.name === false) { ?>
<form class='main_form' method='POST' action='/sign_in'>
    <div>
        <input
            name='user_name'
            placeholder='নিবন্ধিত নাম লিখুন'
            title='নিবন্ধিত নাম লিখুন। আপনি যদি নিবন্ধন না করে থাকেন, উপরে ডানে "নিবন্ধন" লিংক এ চাপ দিয়ে নিবন্ধন করে নিতে পারেন।'
            type='text'
            minlength='1'
            maxlength='30'
            <? if(locals.user_name){ ?>
            value='<?= user_name ?>'
            <? } ?>
            required>
    </div>
    <div>
        <input
            name='password'
            title='নিবন্ধিত গুপ্ত অক্ষরগুলি লিখুন।'
            placeholder='নিবন্ধিত গুপ্ত অক্ষরগুলি লিখুন'
            type='password'
            minlength='1'
            autocomplete='off'
            <? if(locals.password) { ?>
            value='<?= password ?>'
            <? } ?>
            required>
    </div>
    <div>
        <label
            title='স্বয়ংক্রিয় কিছু কম্পিউটার সবসময় ওয়েবসাইট ভাঙার চেষ্টা করে এবং সেগুলো আঁকানো লেখা পড়তে পারে না। সে কারণে, আপনি যে মানুষ, সেটা প্রমানের জন্য আপনাকে এটা করতে হচ্ছে।'
            for='captcha'>এই চারটি অক্ষর লিখুন:</label>
        <span title='নিচে এই চারটি অক্ষর লিখুন'><?- svg ?></span>
        <input
            name='captcha'
            placeholder='আঁকানো অক্ষরগুলি লিখুন'
            title='স্বয়ংক্রিয় কিছু কম্পিউটার সবসময় ওয়েবসাইট ভাঙার চেষ্টা করে এবং সেগুলো আঁকানো লেখা পড়তে পারে না। সে কারণে, আপনি যে মানুষ, সেটা প্রমানের জন্য আপনাকে এটা করতে হচ্ছে।'
            type='text'
            minlength='4'
            maxlength='4'
            autocomplete='off'
            required>
    </div>
    <? if(locals.info) { ?>
    <h6 class='meta_info warn_text'>
        <?= info ?>
    </h6>
    <? } ?>
    <div>
        <button
            type='submit'>ভেতরে ঢুকুন »</button>
    </div>
</form>
<? } else { ?>
    আপনি আগেই নিবন্ধনযুক্তভাবে ভেতরে ঢুকেছেন।  এই পাতায় আপনার এখন আর কিছু করার প্রয়োজন নেই।
<? } ?>
<?- include('./common/layout_post.ejs') ?>