<?- include('./common/layout_pre.ejs', { title : `বেবস্থাপনা এবং শর্তাবলি`, name : locals.name }) ?>
<span class='content'>
    <h1>বেবস্থাপনা এবং শর্তাবলি</h1>
    <ul>
        <li>
            সব লেখা ঠিক আছে কিনা এটা ওয়েবসাইটের পরিচালকদের নিশ্চিত করা সম্ভব নয়
        </li>
        <li>
            এটি Session cookie বেবহার করে
        </li>
        <li>
            আপনি যদি EU দেশে অবস্থান করেন অথবা কোনো দেশে অবস্থান করেন যেখানে GDRP আইন আছে, অথবা তেমন কোনো দেশের নাগরিক, এই ওয়েবসাইট ব্যবহার থেকে বিরত থাকুন
        </li>
        <li>
            আপনি এখানে যা লেখেন সেটা আপনার, কিন্তু আপনি আমাদের লেখাগুলি রয়ালটি ফ্রি ব্যবহারের অনুমতি দিচ্ছেন
        </li>
        <li>
            যা এখানে করেন, লেখেন বা পাঠন, সব মার্কিন যুক্তরাষ্ট্র এবং আপনি যে দেশে অবস্থান করছেন এবং আপনি যে দেশের নাগরিক, সবার আইন মেনে করছেন
        </li>
        <li>
            ব্যবহারক্রিট কোনো ক্ষতি বা দায় আমাদের দায়িত্ব নয়
        </li>
        <li>
            এই লেখা ভবিষ্যতে পরিবর্তন হতে পারে
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>