<?- include('./common/layout_pre.ejs', { title : `নাম মুছুন`, name : locals.name }) ?>
<span class='content'>
<? if(locals.name && locals.unfollow) { ?>
নিশ্চিত করুন আপনি নামটি আর মনে রাখতে চান না : <?= unfollow ?>
<form method='POST' action='/unfollow/<?= unfollow ?>'>
    <button class='submit warn' type='submit'>মুছে ফেলুন</button>
</form>
<? } else if(!locals.name) { ?>
    আগে নিবন্ধনধারী হিসেবে প্রবেশ করতে
<? } else { ?>
    `দুঃখিত, কোথাও গরমিল হয়েছে। ` +
    `আবার চেষ্টা করে দেখতে পারেন অথবা নিচে যোগাযোগ লিংক এ চাপ দিয়ে ` +
    `পরিচালকদের জানাতে পারেন।`;
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>